# System Files
.DS_Store
Thumbs.db

# Packages & Builds
node_modules/
dist/
.env
.env.local
.env.*.local
.env.*

# Backend Virtual Environment & Cache
backend/.venv/
backend/__pycache__/
backend/**/*.pyc
backend/*.db-journal
!aether_gpu_finops.db
!backend/aether_gpu_finops.db


# IDE configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
